cron/globalreseller_copy_apache_log.sh
.DS_Store
*.swp
.env
tags
tmp/*
!tmp/.gitkeep
!tmp/barcodes/.gitkeep
!tmp/cached_views/.gitkeep
vendor/
.idea/
src/Pdf/Fonts/unifont/*
!src/Pdf/Fonts/unifont/*.ttf
deployment
public/assets
Makefile.custom.mk
Makefile.defaults.custom.mk
phpunit.xml
.php_cs
.php_cs.cache
.deptrac.cache
.nova
*no-vcs*
